.home{
    height: auto;
    width: 100%;
    /* background-color:rgba(0, 0, 0, 0.492); */
    overflow-y: hidden;
    overflow-x: hidden;
}
.bg1{
    padding-top: 100px;
    /* background-color: blueviolet; */
    height: 810px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bg11{
    height: 300px;
    width: 800px;
    /* background-color: rgb(98, 86, 86); */
    margin-top: 255px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.bg12{
    height: 350px;
    width: 350px;
    /* background-color: rgb(57, 57, 56); */
    margin-top: 200px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 100px;
    
}
.bg12:hover{
  transform: scale(1.1) ;
}
.mypic{
    height: 340px;
    width: 340px;
    border-radius: 300px;
    margin-top: 30px;
    border: 10px solid rgb(39, 39, 39); 
    
}
.mypic:hover{
  transform: scale(1.22);
}
.home-p1{
    font-weight: 600;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
    height: 50px;
    width: 750px;
    /* background-color: aqua; */
}
.home-p2{
    height: 50px;
    width: 750px;
    /* background-color: antiquewhite; */
    margin-left: 50px;
    font-size: 30px;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.home-p3{
    height: 100px;
    width: 750px;
    margin-left: 50px;
    /* background-color: aqua; */
font-size: 15px;
}
.btn-home{
    background-color: rgb(45, 45, 45);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: none;
    margin-left: 50px;
}
.btn-home:hover{
  background-color: #4c4c4b;

}
.btn-img{
    height: 30px;
    width: 30px;
    margin-top: 8px;
}
.btn-home2{
    background-color: rgb(45, 45, 45);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}
.btn-home2:hover{
  background-color: #4c4c4b;

}
.btn-home3{
    height: 50px;
    width: 150px;
    background-color: rgb(45, 45, 45);
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 50px;

}
.btn-home3:hover{
  background-color: #4c4c4b;
}

.bg2{
    width: 100%;
    height: 840px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.bg21{
    width: 100%;
    height: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.bg22{
    height: 500px;
    width: 70%;
    /* background-color: aliceblue; */
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly;
    column-gap: 160px; */
}
.ex1{
    height: 60px;
    width: auto;
}
.ex1:hover{
    transform: scale(1.22);

}
.bg221{
    height: 100px;
    width: 70%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     justify-content: space-evenly;
     /* column-gap: 160px; */
}
.home-bg3{
    height: 2000px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}





.card-container {
    width: 1200px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: -100px;
    
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #98989497;

    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
    border
    
    
  }
  .cc-img{
    height: 100%;
    width: 100%;
    margin-top: -50px;
  }
  
  .card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #4c4c4b 0%, #c6f106 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% ); */
    background-color: #31bd606e;
    color: #e8e8e8;
    /* padding: 20px; */
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    pointer-events:visible;
    transform: translateY(100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  a{
    text-decoration: none;
  }
  
  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card:hover .content {
    transform: translateY(0);
  }
  
  .card:hover .front-content {
    transform: translateY(0%);
  }
  
  .card:hover .front-content p {
    opacity: 0;
  }
  
  .home-bg31{
    font-weight: 600;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #4c4c4b; */
  }


  .footer-sec {
    min-height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .footer-sec-content {
    min-height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .footer-card-sec,
  .darkmode-footer-card-sec {
    height: 150px;
    width: 200px;
    color: #3e3e3e;
    -webkit-tap-highlight-color: transparent;
    /* background-color: rgb(255, 230, 230); */
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: serif;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 600;
  
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
  }
  .darkmode-footer-card-sec {
    filter: invert(1);
    box-shadow: 2px 10px 20px 0px rgba(255, 132, 0, 0.101);
  }
  
  .footer-card-sec:hover {
    transform: scale(1.02);
    box-shadow: 2px 10px 20px 0px rgba(0, 123, 255, 0.101);
  }
  .footer-icon {
    height: auto;
    width: 45px;
  }
  .footer-sec-data,
  .darkmode-footer-sec-data {
    height: 50px;
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    /* font-weight: 600; */
    align-items: center;
    color: rgb(54, 54, 54);
    font-family: sans-serif;
    box-shadow: 2px -5px 10px 0px rgba(0, 26, 255, 0.047);
  }
  .darkmode-footer-sec-data {
    box-shadow: 0px 0px 20px 0px rgba(0, 136, 255, 0.159);
    color:white;
  }


  



  

   .img-p1{
    height: 400px;
    width: 500px;
    background-color: rgb(243, 243, 243);
    margin-top: -460px;
    margin-left: -550px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
  
    
   }
   .img-p11{
    height: 400px;
    width: 500px;
    background-color: rgba(126, 124, 124, 0.502);
    margin-top: -460px;
    margin-left: 550px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
  
    
   }
   .img-p111{
    height: 400px;
    width: 500px;
    background-color: rgba(137, 137, 137, 0.594);
    margin-top: -460px;
    margin-left: -550px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
  
    
   }
   .img-p2{
    height: 30%;
    width: 500px;
    /* background-color: #4c4c4b; */
    border-top-right-radius:30px ;
    border-top-left-radius:30px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   }
    .img-p3{
    height: 40%;
    width: 500px;
    /* background-color: #a9a91f; */
    display: flex;
    flex-wrap: wrap;
    color: black;

   }
   .img-p33{
    height: 40%;
    width: 500px;
    /* background-color: #a9a91f; */
    display: flex;
    flex-wrap: wrap;
    color: rgb(253, 251, 251);
    font-weight: 400;

   }
   .img-p333{
    height: 40%;
    width: 500px;
    /* background-color: #a9a91f; */
    display: flex;
    flex-wrap: wrap;
    color: rgb(10, 10, 10);
    font-weight: 400;

   }
   .img-p4{
    height: 30%;
    width: 500px;
    /* background-color: #201d7b; */
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   } 
   .shield{
    height: 60px;
    width: 60px;
    margin-top: 35px;
   }
   .lincoln1{
    height: 60px;
    width: auto;
    margin-top: 35px;
   }
   .shield-h2{
    font-size: 20px;
    font-family: cursive;
    color: black;
    margin-top:50px;
    margin-left: 2px;
   }

.btn1-imgp4{
  height: 50px;
  width: 150px;
  /* background-color: #3e3e3e; */
  background-image: linear-gradient(to bottom , rgb(232, 173, 12),rgb(237, 204, 150));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border: none;
}
.btn2-imgp4{
  height: 50px;
  width: 150px;
  /* background-color: #3e3e3e; */
  background-image: linear-gradient(to bottom , rgb(232, 173, 12),rgb(237, 204, 150));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border: none;
  margin-left: 30px;
}
.btn11-imgp4{
  height: 50px;
  width: 150px;
  /* background-color: #3e3e3e; */
  background-image: linear-gradient(to bottom , rgb(21, 118, 14),rgb(118, 190, 129));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border: none;
}
.btn22-imgp4{
  height: 50px;
  width: 150px;
  /* background-color: #3e3e3e; */
  background-image: linear-gradient(to bottom , rgb(21, 118, 14),rgb(118, 190, 129));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border: none;
  margin-left: 30px;
}
.btn111-imgp4{
  height: 50px;
  width: 150px;
  /* background-color: #3e3e3e; */
  background-image: linear-gradient(to bottom , rgb(9, 138, 174),rgb(129, 233, 232));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border: none;
}
.btn222-imgp4{
  height: 50px;
  width: 150px;
  /* background-color: #3e3e3e; */
  background-image: linear-gradient(to bottom , rgb(9, 138, 174),rgb(129, 233, 232));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border: none;
  margin-left: 30px;
}

.git-imgp4{
  height: 30px;
  width: 30px;
  margin-top: 8px;
}

.git-btn{
  color: white;
  margin-left: 5px;
}
.home-bg5{
  height: 850px;
  width: 100%;
  background-image:linear-gradient(to bottom,white,rgba(168, 165, 165, 0.898)) ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-bg51{
  height: 500px;
  width: 400px;
  /* background-color: #c6f106; */
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home-bg52{
  height: 500px;
  width: 400px;
  background-image: linear-gradient(to bottom,rgb(240, 240, 228),rgb(246, 246, 12));
  margin-top: 200px;
  margin-left: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px;
}
.bg51-h1{
  font-size: 4rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 160px;
}
.bg52-h1{
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
}
.bg52-i1{
  height: 30px;
  width: 300px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f4f0f000;
}
.fullname{
  margin-top: 15px;
  font-size: 14px;
}
/* .bg52-btn{
  height: 30px;
  width: 100px;
  margin-left: 100px;
} */

.button-send{
  font-family: inherit;
  font-size: 15px;
  background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin-top: 15px;
  height: 35px;
  width: 100px;
  margin-left: 100px;
  
}

.button-send:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-send:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-send span {
  display: block;
  /* margin-left: 0.4em; */
  transition: all 0.3s;
}

.button-send svg {
  width: 12px;
  height: 12px;
  fill: white;
  transition: all 0.3s;
}

.button-send .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.button-send:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-send:hover svg {
  transform: rotate(45deg);
}

